<a href="https://colab.research.google.com/github/MohammedNayaz/Machine-learning-/blob/master/BasicsPythonWorkbook.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("Arithmetic Operator")  
a=10
b=5
print("Addition:",a+b)
print("Subtraction:",a-b)
print("Multiplication:",a*b)
print("Division:",a/b)
print("Floor Division:",a//b)
print("Modulus:",a%b)
print("Exponent",a**b)

Arithmetic Operator
Addition: 15
Subtraction: 5
Multiplication: 50
Division: 2.0
Floor Division: 2
Modulus: 0
Exponent 100000

In [ ]:
print("Relational Operator")
a=10
b=5
print(a>b)
print(a<b) 
print(a==b)
print(a!=b) 
print(a>=b)  
print(a<=b)

Relational Operator
True
False
False
True
True
False

In [ ]:
print("Logical Operator")
print(10<5 and 10<20)
print(10<5 or 10<20)
print(not(10<20))

Logical Operator
False
True
False

In [ ]:
print("Identity Operator")
a1=5
b1=5
a2="Hello"
b2="Hello"
a3=[1,2,3]
b3=[1,2,3]
print(a1 is not b1)
print(a2 is b2)
print(a2 is b3)

Identity Operator
False
True
False

In [ ]:
a="Hello world"
b={1,"a","b",2}
print("H" in a)
print("hello" in a )
print(1 in b)
print("b" in b) 
print("c" not in b)

True
False
True
True
True

In [ ]:
print("If statement")
i=int(input("Enter the number:"))
if (i<=10):
    print("condition is true")

If statement
Enter the number:9
condition is true

In [ ]:
print("If...else statement")
num = int(input("Enter the number:"))
if (num % 2)== 0:
	print ("Given number is Even")
else:
	print("Given number is Odd")

If...else statement
Enter the number:10
Given number is Even

In [ ]:
print("Elif statement")
a = int(input("Enter 1st number:"))  
b= int(input("Enter 2nd number:"))
c= int(input("Enter 3rd number:"))
if (a > b) and (a > c):
    print("a is greater")
elif (b > a) and (b > c):
    print("b is greater")
else:
    print("c is greater")

Elif statement
Enter 1st number:10
Enter 2nd number:25
Enter 3rd number:15
b is greater

In [ ]:
print("Nested if...else statement")
n = int(input("Enter a number:")) 
if (n<=15):
    if (n == 10):
        print("play cricket")  
    else:
        print("play kabadi")
else:
    print("Donâ€™t play game")

Nested if...else statement
Enter a number:10
play cricket

In [ ]:
#CONTROL STATEMENTS

In [ ]:
print("While loop- To find sum of number")
num = int(input("Enter a number: "))
sum = 0
while(num > 0):  
    sum = sum+num
    num = num-1
    print("The sum is",sum)

For loop- To find sum of number
Enter a number: 10
The sum is 10
The sum is 19
The sum is 27
The sum is 34
The sum is 40
The sum is 45
The sum is 49
The sum is 52
The sum is 54
The sum is 55

In [ ]:
print("For loop- Addition of number using for loop ")

numbers = [6, 5, 3, 8, 4, 2, 5, 4]
sum1 = 0
for val in numbers:  sum1 = sum1+val
print("The sum is", sum1)

For loop- Addition of number using for loop
The sum is 37

In [ ]:
print("For loop with if-else ")
genre = ['pop', 'rock', 'jazz']
for i in range(len(genre)):
    print("I like", genre[i])

For loop with if-else
I like pop
I like rock
I like jazz

In [ ]:
genre = ['pop', 'rock', 'jazz']
for i in range(len(genre)):
    print("I like", genre[i])
else:
    print("No items left.")

I like pop
I like rock
I like jazz
No items left.